*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
   background: url(1.jpg);
}

form{
    border: solid 1px white;
    
    background-color: white;
    border-radius: 5px;
    margin-top: -70px;
    width: 380px;
    box-sizing: border-box;
}

h1{
    font-size: 64px;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}


section{
    padding: 50px;
    background-color: rgba(17, 19, 22, 0.8);
}

header{
    background-color: rgba(17, 19, 22, 0.9);
    padding-top: 0%;
    color: white;
}

.main{
    margin-left:  80px;
    margin-top: 50px;
}

.main input{
    border-radius: 3px;
    padding: 3px 0px 3px 0px;
    width: 300px;
    height: 40px;
}

.main form{
    padding : 40px 50px 40px 40px;
    line-height: 2em;
    box-sizing: border-box;
}

.nav-list{
    display: block;
    width: fit-content;
    background-color: transparent;
}

.nav-list li{
    display: inline-block;
    padding: 20px;
}

.nav-l{
    font-size: 16px;
    font-weight: bold;
}
#nav-ll{
    font-size: 16px;
    font-weight: bold;
    border: white 1px solid; 
    border-radius: 5px; 
    margin: 3px 0px; 
    box-sizing: border-box;
    padding: 8px;
    line-height: 24px;
}

#submit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 300px;
}

#text{
    margin-top: 15px;
    line-height: 1.2em;
    font-size: 13px;
}

#left{
    padding-left: 250px;
    height: 7px;
}

#git{
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}