.container {
    display: flex;
    margin-top: 50px;
}

.description {
    margin-left: 100px;
}

image:hover{
  transform: scale(1.2);
  transition: .7s;
  overflow: hidden;
}

image{
  transition: .7s;
}


