<app-top-bar></app-top-bar>

<router-outlet></router-outlet>




<!-- 
<div class="container">
  <router-outlet></router-outlet>
</div>
<div  style="margin-left:500px;margin-top:30px;margin-bottom: 100px;">
  <div class="gallery zoom">
    <a target="_blank" href="https://ae01.alicdn.com/kf/H321d2e53568b4defb17bee5567f0b053G/400-3D.jpg">
      <img src="https://ae01.alicdn.com/kf/H321d2e53568b4defb17bee5567f0b053G/400-3D.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Clocks</div>
  </div>

  <div class="gallery zoom">
    <a target="_blank" href="https://ae01.alicdn.com/kf/HTB1BP8PmbYI8KJjy0Faq6zAiVXaQ/-.jpg">
      <img src="https://ae01.alicdn.com/kf/HTB1BP8PmbYI8KJjy0Faq6zAiVXaQ/-.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Ring</div>
  </div>

  <div class="gallery zoom">
    <a target="_blank" href="https://ae01.alicdn.com/kf/HTB1OHKKSpXXXXX6aVXXq6xXFXXXv/Meme-Tubby-Gray-Blob.jpg">
      <img src="https://ae01.alicdn.com/kf/HTB1OHKKSpXXXXX6aVXXq6xXFXXXv/Meme-Tubby-Gray-Blob.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Animal</div>
  </div>
<div></div>
</div> -->