@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');

*{
    padding: 0px;
    margin: 0px;
}


form hr{
    width:60%;
    height: 1px;
    background-color: rgb(219, 216, 216);
    border: none;
    align-items: center;
    margin: 3px 55px;
}

.main__image{
    position: absolute;
    left:270px;
    top:98px;
}

.main__content{
    background-color: white;
    width:320px;
    height:600px;
    position: relative;
    left: 720px;
    top:60px;
    text-align: center;
    border: rgb(177, 177, 177) solid 0.5px;
    box-sizing: border-box;
}

.input{
    margin-bottom: 15px;
    width: 270px;
    padding: 7px 7px;
    color:#999;
    line-height: 25px;
    font-size: 12px;
    text-align: left;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: -2px;
}



.submit{
    margin-bottom: 15px;
    margin-top: -5px;
    width: 270px;
    padding: 5px 7px;
    line-height: 25px;
    background-color: rgb(71, 152, 245);
    color:#fff;
    font-size:14px;
    font-family: 'Hind Madurai', sans-serif;
    border-radius: 5px;
    font-weight:bold;
    box-shadow: none;
    border-color: rgb(71, 152, 245);
}

.cookies{
    margin-top:-5px;
    color: #999;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}
.conditions{
    text-decoration: none;
    color: #999;
    font-weight: bold;
}



#logo__text{
    width:200px;
    margin-top:20px;
    align-content: center
}

#inner__form{
    height: 30px;
    width: 270px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#foot{
    height:65px;
    width:320px;
    border: rgb(177, 177, 177) solid 0.5px;
    line-height: 65px;
    color:rgb(68, 68, 68);
    background-color: white;
    margin-bottom: 10px;
}

#app{
    color:rgb(68, 68, 68);
}

#login{
    text-decoration: none;
    color:rgb(71, 152, 245);
}