.data{
    background: url(../../img/pink-back.png) center no-repeat;
    height: 100vh;
}

.data__inner{
    display: flex;
    justify-content: center;
}

.data__inner p{
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 8px;
}

.data__num{
    margin: 260px 85px 50px 85px ;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    color: #fff;
    box-sizing: border-box;
}