.pricing{
    
    margin: 50px 0px;
}

.pricing__text{
    text-align: center;
    
}

.pricing__text h1{
    margin: 0 0 30px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 500;
    color: #3e3e3e;
}

.pricing__text p{
    font-size: 16px;
    color: #666;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 60px;
}
.pricing__inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing__card{
    width:calc(33.3% - 50px);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 22px;
    transition: 0.4s;
}

.pricing__content{
    color:#666;
}

.pricing__content h1{
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.pricing__content h2{
    margin-bottom: 25px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
}

.pricing__content p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 38px;
    font-weight: 400;
}

.pricing__button {
    padding-top: 40px;
    text-decoration: none;
}

.pricing__button a{
    text-decoration: none;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 45px;
    color: #666;
}


/*.pricing__button a:hover{
    color: #ffffff;
}*/

.active{
    background-color: #FF5F6D;
    color: #ffffff;
}

.pricing__card:hover{
    background-color: #FF5F6D;
    color: #ffffff !important;
    transition: 0.4s; 
}

/*.pricing__content:hover{
    color: #ffffff;
}*/



