<div *ngIf="product">
    <button  style="margin-left:200px" (click)="goBack()">go back</button>
    <h1 style="margin-left:200px">Products</h1>
     <div style="margin-left:200px" >

       <table>
           <tr>
                     <td style="width:35%; ">
             <h3>
               <a [title]="product.name + ' details'" href={{product.website}}>
                 {{ product.name }}
               </a>

             </h3>

             <p *ngIf="product.img">
                 <img src={{product.img}}>
               </p>
         </td>
   <td style="width:5%"></td>
   <td>
       <p  *ngIf="product.description">
         Описание: {{ product.description }}
       </p>

      <strong> <p class="descript" *ngIf="product.rating">
           Рейтинг: {{ product.rating }}
         </p></strong>

         <a href="https://telegram.me/share/url?url=<URL>&text=<{{product.website}}>">
           <button>
             Share
           </button>
         </a>
       </td>
         </tr>
     </table>
     </div>

    </div>
